<a href="" class="" style="position: absolute; top: 4px; left: 8px;"><img style="height:45px; width: 120px;"src="/img/header.png"/></a>
<nav>
    <ul>
        <li></li>
        <li><a href="deconnexion" class="btn">Déconnexion</a></li>
    </ul>
</nav>