<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ManuMakesMovies</title>
        <meta name="description" content="ManuMakesMovies corporate website">
        <meta name="Keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="/css/style.css">

        <!-- Icons -->
        <!--[if IE]><link rel="shortcut icon" href="/favicon.ico" /><![endif]-->
        <link rel="icon" type="image/png" href="favicon.png">
        <meta property="og:image" content="img/logo.png">
        <meta name="twitter:image" content="img/logo.png">

        <script type="text/javascript" src="//use.typekit.net/znr0fvx.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <script type="text/javascript" src="/js/bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/js/bower_components/jQuery-One-Page-Nav/jquery.nav.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
    </head>

    <body>

        <nav>
            <a href="#" class="headtitle">
                <h1>
                    <span class="p1">Manu</span><span class="p2">Makes</span><span class="p3">Movies</span>
                </h1>
            </a>
            <ul id="nav" class="nav">
                <li class="current"><a href="#section-1">_Corporate</a></li>
                <li><a href="#section-2">_Captations</a></li>
                <li><a href="#section-3">_Clips</a></li>
                <li><a href="#section-4">_Experiments</a></li>
                <li><a href="#section-5">Références</a></li>
                <li><a href="#section-6">Contact</a></li>
            </ul>
        </nav>

        <div id="container">
            <section class="bio">
                <div class="sect-containers">
                    <h1 class="maintitle">
                        <span class="p1">Manu</span><span class="p2">Makes</span><span class="p3">Movies</span>
                    </h1>
                    <p>Insert short bio here</p>
                </div>
            </section>


            <section id="section-1">
                <div class="sect-containers">
                    <h1 class="maintitle">
                        <span class="p1">Manu</span><span class="p2">Makes</span><span class="p3">Corporate</span>
                    </h1>
                    <div class="sectlegend">Une petite vidéo vaux souvent mieux qu'un long discours. Surtout quand il s'agit d'expliquer le concept révolutionnaire d'une startup. Les entrepreneurs comprendront.</div>
                    <div class="vidwidget">
                        <div class="cmd cmd-prev inactive"></div>
                        <div class="cmd cmd-next inactive"></div>
                        <div class="vid-container">
                            <div class="vid vid-1 current">
                                <div class="videoWrapper">
                                    <iframe src="//player.vimeo.com/video/85238844" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                </div>
                                <div class="txtWrapper">
                                    <h2 class="vidtitle">We are Leka</h2>
                                    <div class="vidtxt">
                                        <i>La&nbsp;petite&nbsp;histoire&nbsp;:</i> J'ai réalisé et monté cette vidéo pour Leka Smart Toys dans le cadre du concours hello-tomorrow. Grâce à la vidéo ils ont été sélectionnés parmi les 25 finalistes sur plus de 1500 candidats. On travaille en ce moment sur la vidéo pour la finale.
                                        <i>Les&nbsp;contraintes&nbsp;:</i> la vidéo devait faire moins d'une minute et réussir à présenter l'équipe et le projet. Pour le reste j'avais les mains libres. 2 jours de tournage et une journée de montage.
                                        <i>Crédits&nbsp;additionnels&nbsp;:</i> <b>Musique</b> <a href="http://freemusicarchive.org/">freemusicarchive</a> / <a href="http://weareleka.com/">Leka</a> / <a href="http://www.hello-tomorrow.org/">Hello tomorrow</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="section-2">
                <div class="sect-containers">
                    <h1 class="maintitle">
                        <span class="p1">Manu</span><span class="p2">Makes</span><span class="p3">Captations</span>
                    </h1>
                    <div class="sectlegend">Parce que les diapositives c'est cool mais ça coûte cher, un film c'est aussi un bon moyen d'immortaliser un évènement que l'on a passé trois mois à organiser. C'est un peu comme pour un accouchement. En moins sale. Parfois.</div>
                    <div class="vidwidget">
                        <div class="cmd cmd-prev"></div>
                        <div class="cmd cmd-next"></div>
                        <div class="vid-container">
                            <div class="vid vid-1 current">
                                <div class="videoWrapper">
                                    <iframe src="//player.vimeo.com/video/79929938" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                </div>
                                <div class="txtWrapper">
                                    <h2 class="vidtitle">Startup weekend Unesco</h2>
                                    <div class="vidtxt">
                                        <i>La&nbsp;petite&nbsp;histoire&nbsp;:</i> A l'occasion du Youth Forum, pour la première fois Startup Weekend s'est associé avec l'Unesco. 60 participants et plus de 30 nationalités se sont mobilisés autour du thème de l'entreprenariat social.
                                        <i>Les&nbsp;contraintes&nbsp;:</i> tourner 48heures d'affilées sans pouvoir repasser par la case départ n'était pas évident. Mais avec un portable, un vide carte et quelques chargeurs tout est possible. J'ai créé un premier montage dans la nuit de samedi à dimanche qui a été projeté lors de la présentation finale. J'ai terminé une deuxième version plus longue incluant les interviews une semaine plus tard.
                                        <i>Crédits&nbsp;additionnels&nbsp;:</i> <b>Musique</b> <a href="http://www.youtube.com/watch?v=_mTRvJ9fugM">The Mother we Share</a>
                                    </div>
                                </div>
                            </div>
                            <div class="vid vid-2 right">
                                <div class="videoWrapper">
                                    <iframe src="//player.vimeo.com/video/75852332" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                </div>
                                <div class="txtWrapper">
                                    <h2 class="vidtitle">The Mud Day</h2>
                                    <div class="vidtxt">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="section-3">
                <div class="sect-containers">
                    <h1 class="maintitle">
                        <span class="p1">Manu</span><span class="p2">Makes</span><span class="p3">Clips</span>
                    </h1>
                    <div class="sectlegend">La musique et la vidéo, ça va bien ensemble. L'univers visuel d'un groupe fait partie intégrante de son identité.</div>
                    <div class="vidwidget">
                        <div class="cmd cmd-prev"></div>
                        <div class="cmd cmd-next"></div>
                        <div class="vid-container">
                            <div class="vid vid-1 current">
                                <div class="videoWrapper">
                                    <iframe width="560" height="315" src="//www.youtube.com/embed/HtvJToWsErw" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="txtWrapper">
                                    <h2 class="vidtitle">Ekinox - un drôle de monde</h2>
                                    <div class="vidtxt">
                                        <i>La&nbsp;petite&nbsp;histoire&nbsp;:</i> Ekinox est un jeune groupe montant du rock français.
                                        <i>Les&nbsp;contraintes&nbsp;:</i> une seule journée de tournage au studio K pour capter un maximum d'images.
                                        <i>Crédits&nbsp;additionnels&nbsp;:</i> <b>Montage</b> Yan X
                                    </div>
                                </div>
                            </div>
                            <div class="vid vid-2 right">
                                <div class="videoWrapper">
                                    <iframe src="//player.vimeo.com/video/58274749" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                </div>
                                <div class="txtWrapper">
                                    <h2 class="vidtitle">Mathilda</h2>
                                    <div class="vidtxt">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="section-4">
                <div class="sect-containers">
                    <h1 class="maintitle">
                        <span class="p1">Manu</span><span class="p2">Makes</span><span class="p3">Experiments</span>
                    </h1>
                    <div class="sectlegend">C'est là que je met ce que je fais pour moi. Pour l'instant c'est surtout des essais.</div>
                    <div class="vidwidget">
                        <div class="cmd cmd-prev"></div>
                        <div class="cmd cmd-next"></div>
                        <div class="vid-container">
                            <div class="vid vid-1 current">
                                <div class="videoWrapper">
                                    <iframe src="//player.vimeo.com/video/81380039" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                </div>
                                <div class="txtWrapper">
                                    <h2 class="vidtitle">Mi Mujer</h2>
                                    <div class="vidtxt">
                                        Une chanson, des images, une histoire.
                                    </div>
                                </div>
                            </div>
                            <div class="vid vid-2 right">
                                <div class="videoWrapper">
                                    <iframe src="//player.vimeo.com/video/57592617" width="500" height="288" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                </div>
                                <div class="txtWrapper">
                                    <h2 class="vidtitle">Corsica</h2>
                                    <div class="vidtxt">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="section-5">
                <div class="sect-containers">
                    <h1 class="maintitle">
                        <span class="p1">Références</span><span class="p2"></span><span class="p3"></span>
                    </h1>

                    <ul>
                        <li>
                            <a href="http://weareleka.com/">
                                <img src="/img/ref-leka.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="http://unesco.startupweekend.org/">
                                <img src="/img/ref-unesco.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/binouze.bikers">
                                <img src="/img/ref-binouze.jpg" alt="">
                            </a>
                        </li>
                    </ul>
                    
                </div>
            </section>

            <section id="section-6">
                <div class="sect-containers">
                    <form class="form" name="loginForm" action="" method="POST">
                        <h1 class="maintitle">
                            <span class="p1">Contactez</span><span class="p2"></span><span class="p3">moi</span>
                        </h1>
                        <div class="field">
                            <input type="text" class="mail" name="mail" required="" placeholder="Email" autocomplete="off" spellcheck="false" autocorrect="off" autocapitalize="off" maxlength="264">
                        </div>
                        <div class="field">
                            <textarea rows="4" class="message" name="message" required="" placeholder="Message" autocomplete="off" spellcheck="true" autocorrect="on" autocapitalize="on" maxlength="2048"></textarea>
                        </div>
                        <button type="submit" class="btn">Envoyer</button>
                    </form>
                </div>
            </section>
        </div>


    </body>
</html>
