<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ManuMakesMovies</title>
        <meta name="description" content="ManuMakesMovies corporate website">
        <meta name="Keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="/css/style.css">

        <!-- Icons -->
        <!--[if IE]><link rel="shortcut icon" href="/favicon.ico" /><![endif]-->
        <link rel="icon" type="image/png" href="favicon.png">
        <meta property="og:image" content="img/logo.png">
        <meta name="twitter:image" content="img/logo.png">

        <script type="text/javascript" src="//use.typekit.net/znr0fvx.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <script type="text/javascript" src="/js/bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/js/bower_components/jQuery-One-Page-Nav/jquery.nav.js"></script>
        <script type="text/javascript" src="/js/bower_components/noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
        <script type="text/javascript" src="/js/noty-theme.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
    </head>

    <body>

        <nav>
            <a href="#" class="headtitle">
                <h1>
                    <span class="p1">Manu</span><span class="p2">Makes</span><span class="p3">Movies</span>
                </h1>
            </a>
            <ul id="nav" class="nav">
                <li><a href="#section-1">_Corporate</a></li>
                <li><a href="#section-2">_Captations</a></li>
                <li><a href="#section-3">_Clips</a></li>
                <li><a href="#section-4">_Experiments</a></li>
                <li><a href="#section-5">Références</a></li>
                <li><a href="#section-6">Contact</a></li>
            </ul>
        </nav>

        <div id="container">
            <section class="bio">
                <div class="sect-containers">
                    <h1 class="maintitle">
                        <span class="p1">Manu</span><span class="p2">Makes</span><span class="p3">Movies</span>
                    </h1>
                    <div class="biotxt">
                        <p>Je suis prêt à aller très loin pour mes clients.</p>

                        <p>Je peux vous aider à concevoir, écrire et réaliser le film qui vous correspond.</p>

                        <p>Je travaille vite, dans les temps et en respectant votre budget.</p> 

                        <p>Vous trouverez ici plusieurs exemples de mon travail.</p>

                        <p>N'hésitez pas à me <a href="#section-6">laisser un message</a> à travers le formulaire de contact. C'est sans engagement et je suis toujours heureux de discuter et de vous aider à mettre en forme votre projet, quelqu'en soit le stade d'avancement.</p>

                        <p>Je lis et je réponds à tous mes messages sous 48h.</p>

                        <p>Bonne visite !</p>
                        <p>- Manu</p>
                    </div>
                </div>
            </section>


            <section id="section-1">
                <div class="sect-containers">
                    <h1 class="title">
                        <span class="p1">Manu</span><span class="p2">Makes</span><span class="p3">Corporate</span>
                    </h1>
                    <div class="sectlegend">Une petite vidéo vaut souvent mieux qu'un long discours. Surtout quand il s'agit d'expliquer le concept révolutionnaire d'une startup. Les entrepreneurs comprendront.</div>
                    <div class="vidwidget">
                        <div class="cmd cmd-prev"></div>
                        <div class="cmd cmd-next"></div>
                        <div class="vid-container">
                            <div class="vid vid-1 current">
                                <div class="videoWrapper">
                                    <iframe src="//player.vimeo.com/video/85238844" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                </div>
                                <div class="txtWrapper">
                                    <h2 class="vidtitle"><span class="rank">1/2_</span>We are Leka</h2>
                                    <div class="vidtxt">
                                        <i>La&nbsp;petite&nbsp;histoire&nbsp;:</i> J'ai réalisé et monté cette vidéo pour Leka Smart Toys dans le cadre du concours hello-tomorrow. Grâce à la vidéo ils ont été sélectionnés parmi les 25 finalistes sur plus de 1500 candidats. On travaille en ce moment sur la vidéo pour la finale.
                                        <i>Les&nbsp;contraintes&nbsp;:</i> la vidéo devait faire moins d'une minute et réussir à présenter l'équipe et le projet. Pour le reste j'avais les mains libres. 2 jours de tournage et une journée de montage.
                                        <i>Crédits&nbsp;additionnels&nbsp;:</i> <b>Musique</b> <a href="http://freemusicarchive.org/">freemusicarchive</a> / <a href="http://weareleka.com/">Leka</a> / <a href="http://www.hello-tomorrow.org/">Hello tomorrow</a>
                                    </div>
                                </div>
                            </div>

                            <div class="vid vid-2 right">
                                <div class="videoWrapper">
                                    <iframe src="//player.vimeo.com/video/58530559" width="500" height="375" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                </div>
                                <div class="txtWrapper">
                                    <h2 class="vidtitle"><span class="rank">2/2_</span>We are Leka</h2>
                                    <div class="vidtxt">
                                        <i>La&nbsp;petite&nbsp;histoire&nbsp;:</i> Vidéo réalisée pour Kojoa, une startup de covoiturage dynamique, à partir d'images du film "Deathproof" de Quentin Tarantino.
                                        <i>Les&nbsp;contraintes&nbsp;:</i> moins de 20 secondes et déclinable en série. Ici mon idée était de s'inspirer de différents films de voiture pour mettre à chaque fois un avantage particulier du projet en avant.
                                        <i>Crédits&nbsp;additionnels&nbsp;:</i> images et dialogues tirés de "Deathproof" de Quentin Tarantino.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="section-2">
                <div class="sect-containers">
                    <h1 class="title">
                        <span class="p1">Manu</span><span class="p2">Makes</span><span class="p3">Captations</span>
                    </h1>
                    <div class="sectlegend">Parce que les diapositives c'est cool mais ça coûte cher, un film c'est aussi un bon moyen d'immortaliser un évènement que l'on a passé trois mois à organiser. C'est un peu comme pour un accouchement. En moins sale. Parfois.</div>
                    <div class="vidwidget">
                        <div class="cmd cmd-prev"></div>
                        <div class="cmd cmd-next"></div>
                        <div class="vid-container">
                            <div class="vid vid-1 current">
                                <div class="videoWrapper">
                                    <iframe src="//player.vimeo.com/video/79929938" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                </div>
                                <div class="txtWrapper">
                                    <h2 class="vidtitle"><span class="rank">1/3_</span>Startup weekend Unesco</h2>
                                    <div class="vidtxt">
                                        <i>La&nbsp;petite&nbsp;histoire&nbsp;:</i> A l'occasion du Youth Forum, pour la première fois Startup Weekend s'est associé avec l'Unesco. 60 participants et plus de 30 nationalités se sont mobilisés autour du thème de l'entreprenariat social.
                                        <i>Les&nbsp;contraintes&nbsp;:</i> tourner 48heures d'affilées sans pouvoir repasser par la case départ n'était pas évident. Mais avec un portable, un vide carte et quelques chargeurs tout est possible. J'ai créé un premier montage dans la nuit de samedi à dimanche qui a été projeté lors de la présentation finale. J'ai terminé une deuxième version plus longue incluant les interviews une semaine plus tard.
                                        <i>Crédits&nbsp;additionnels&nbsp;:</i> <b>Musique</b> <a href="http://www.youtube.com/watch?v=_mTRvJ9fugM">The Mother we Share</a>
                                    </div>
                                </div>
                            </div>
                            <div class="vid vid-2 right">
                                <div class="videoWrapper">

                                </div>
                                <div class="txtWrapper">
                                    <h2 class="vidtitle"><span class="rank">2/3_</span>Teaser startup weekend Unesco</h2>
                                    <div class="vidtxt">
                                        <i>La&nbsp;petite&nbsp;histoire&nbsp;:</i> Teaser réalisé pour Startup weekend à l'occasion du Youth Forum. 60 participants et plus de 30 nationalités se sont mobilisés autour du thème de l'entreprenariat social.
                                        <i>Les&nbsp;contraintes&nbsp;:</i> J'ai du faire montage dans la nuit de samedi à dimanche pour qu'il soit projeté lors de la présentation finale. Les participants ont apprécié !
                                        <i>Crédits&nbsp;additionnels&nbsp;:</i> <b>Musique</b> All night long - Parov
                                    </div>
                                </div>
                            </div>
                            <div class="vid vid-3 right">
                                <div class="videoWrapper">
                                    <iframe src="//player.vimeo.com/video/75852332" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                </div>
                                <div class="txtWrapper">
                                    <h2 class="vidtitle"><span class="rank">3/3_</span>The Mud Day</h2>
                                    <div class="vidtxt">
                                        <i>La&nbsp;petite&nbsp;histoire&nbsp;:</i> vidéo réalisée avec des amis pour garder un souvenir de notre journée de douleur au Mud Day, une course d'obstacles dans la boue. Et on a payé pour ça.
                                        <i>Les&nbsp;contraintes&nbsp;:</i> filmer en courant dans la boue... Et arriver à monter un film entièrement tourné à la Gopro.
                                        <i>Crédits&nbsp;additionnels&nbsp;:</i> la musique sensationnelle d'Overwerk - Daybreak. D'ailleurs utilisée dans la pub Gopro.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="section-3">
                <div class="sect-containers">
                    <h1 class="title">
                        <span class="p1">Manu</span><span class="p2">Makes</span><span class="p3">Clips</span>
                    </h1>
                    <div class="sectlegend">La musique et la vidéo, ça va bien ensemble. L'univers visuel d'un groupe fait partie intégrante de son identité.</div>
                    <div class="vidwidget">
                        <div class="cmd cmd-prev"></div>
                        <div class="cmd cmd-next"></div>
                        <div class="vid-container">
                            <div class="vid vid-1 current">
                                <div class="videoWrapper">
                                    <iframe width="560" height="315" src="//www.youtube.com/embed/HtvJToWsErw" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="txtWrapper">
                                    <h2 class="vidtitle"><span class="rank">1/2_</span>Ekinox - un drôle de monde</h2>
                                    <div class="vidtxt">
                                        <i>La&nbsp;petite&nbsp;histoire&nbsp;:</i> Ekinox est un jeune groupe montant du rock français.
                                        <i>Les&nbsp;contraintes&nbsp;:</i> une seule journée de tournage au studio K pour capter un maximum d'images.
                                        <i>Crédits&nbsp;additionnels&nbsp;:</i> <b>Montage</b> Yan X
                                    </div>
                                </div>
                            </div>
                            <div class="vid vid-2 right">
                                <div class="videoWrapper">
                                    <iframe src="//player.vimeo.com/video/58274749" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                </div>
                                <div class="txtWrapper">
                                    <h2 class="vidtitle"><span class="rank">2/2_</span>Mathilda</h2>
                                    <div class="vidtxt">
                                        <i>La&nbsp;petite&nbsp;histoire&nbsp;:</i> Clip réalisé dans le cadre d'un concours organisé par Genero.tv.
                                        <i>Les&nbsp;contraintes&nbsp;:</i> Écrire, tourner et monter un clip en moins d'une semaine sur la chanson "Mathilda" de Alt-J.
                                        <i>Crédits&nbsp;additionnels&nbsp;:</i> <b>Musique</b> Mathilda - Alt-J
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="section-4">
                <div class="sect-containers">
                    <h1 class="title">
                        <span class="p1">Manu</span><span class="p2">Makes</span><span class="p3">Experiments</span>
                    </h1>
                    <div class="sectlegend">C'est là que je met ce que je fais pour moi. Pour l'instant c'est surtout des essais.</div>
                    <div class="vidwidget">
                        <div class="cmd cmd-prev"></div>
                        <div class="cmd cmd-next"></div>
                        <div class="vid-container">
                            <div class="vid vid-1 current">
                                <div class="videoWrapper">
                                    <iframe src="//player.vimeo.com/video/81380039" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                </div>
                                <div class="txtWrapper">
                                    <h2 class="vidtitle"><span class="rank">1/2_</span>Tea for thee</h2>
                                    <div class="vidtxt">
                                        <i>La&nbsp;petite&nbsp;histoire&nbsp;:</i> Un film entièrement improvisé, tourné en une soirée et monté en une journée. Pour le plaisir.
                                        <i>Crédits&nbsp;additionnels&nbsp;:</i> <b>Musique</b> Mi Mujer - Nicolas Jarr
                                    </div>
                                </div>
                            </div>
                            <div class="vid vid-2 right">
                                <div class="videoWrapper">
                                    <iframe src="//player.vimeo.com/video/57592617" width="500" height="288" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                </div>
                                <div class="txtWrapper">
                                    <h2 class="vidtitle"><span class="rank">2/2_</span>Corsica</h2>
                                    <div class="vidtxt">
                                        <i>La&nbsp;petite&nbsp;histoire&nbsp;:</i> Expérience née d'un lieu unique, avec les moyens du bord.
                                        <i>Crédits&nbsp;additionnels&nbsp;:</i> <b>Musique</b> Courtship Dating - Crystal Castles
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="section-5">
                <div class="sect-containers">
                    <h1 class="title">
                        <span class="p1">Références</span><span class="p2"></span><span class="p3"></span>
                    </h1>

                    <ul>
                        <li>
                            <a href="http://weareleka.com/">
                                <img src="/img/ref-leka.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="http://unesco.startupweekend.org/">
                                <img src="/img/ref-unesco.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/binouze.bikers">
                                <img src="/img/ref-binouze.jpg" alt="">
                            </a>
                        </li>
                    </ul>

                </div>
            </section>

            <section id="section-6">
                <div class="sect-containers">
                    <form class="form" name="loginForm" action="" method="POST">
                        <h1 class="title">
                            <span class="p1">Contactez</span><span class="p2"></span><span class="p3">moi</span>
                        </h1>
                        <div class="field">
                            <input type="email" class="email" name="email" required="" placeholder="Email" autocomplete="off" spellcheck="false" autocorrect="off" autocapitalize="off" maxlength="264">
                        </div>
                        <div class="field">
                            <textarea rows="4" class="message" name="message" required="" placeholder="Message" autocomplete="off" spellcheck="true" autocorrect="on" autocapitalize="on" maxlength="10000"></textarea>
                        </div>
                        <button type="submit" class="btn">Envoyer</button>
                    </form>
                </div>
            </section>
        </div>

        <% for(var i=0; i<noty.length; i++) { %>
        <div class="noty"><%=noty[i]%></div>
        <% } %>

    </body>
</html>
