<%- include partials/header.ejs %>

<section id="login">
    <form class="logger" name="loginForm" action="connexion" method=POST>
        <div>
            <img src="/img/logo-big.png" alt="">
        </div>
        <div class="field">
            <input type="text" required="" class="username" name="username" placeholder="Identifiant" autocomplete="on" spellcheck="false" autocorrect="off" autocapitalize="off" maxlength="1024">
            <div class="input-underline"></div>
        </div>
        <div class="field">
            <input type="password" required="" class="password" name="password" placeholder="Mot de passe" autocomplete="on" spellcheck="false" autocorrect="off" autocapitalize="off" maxlength="1024">
            <button type="submit" class="btn">Go!</button>
            <div class="input-underline"></div>
        </div>
        <div class="field-box">
            <li class="onoffswitch" id="remember-me-switch">
                <div class="switch">
                    <div class="button"></div>
                </div>
                <div class="label">Rester connecté</div>
            </li>
            <input type="checkbox" name="rememberme" id="remember-me-checkbox" style="visibility:hidden">
            <div class="switch"><div class="button"></div></div>
        </div>
    </form>
    <div class="footer">
        <span>
            <a href="recover">Mot de passe oublié</a>
        </span>
        <span>
            <a href="http://dailydinities.fr/">Conditions générales d'utilisation</a>
        </span>
    </div>
    <div class="dld">
        <a href="http://dailydinities.fr/">
            <img src="/img/dld.png" alt="">
        </a>
    </div>
</section>

<script type="text/javascript" src="/js/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $('#remember-me-switch').on('click', function(e) {
        if ($('#remember-me-switch').hasClass('on')){
            $('#remember-me-switch').removeClass('on');
            $('#remember-me-checkbox').prop('checked', false);
        } else {
            $('#remember-me-switch').addClass('on');
            $('#remember-me-checkbox').prop('checked', true);
        }
    });
    
    
</script>