@charset "UTF-8";


/* Variables */

/* Les tailles d'écrans
0    - 299  : Fphones
300  - 569  : Smartphones
570  - 969  : Phablet
970  - 1199 : Tablettes
1200 - 1899 : PCs
1900 - 3000 : Grands PCs
*/

h1,
h2 {
  font-family: 'futura-pt', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}

* {
  font-family: 'futura-pt', sans-serif;
  font-weight: 100;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
}

@media (max-width: 950px) {
  * {
    font-size: 1.8vw;
  }
}

@media (max-width: 820px) {
  * {
    font-size: 2.4vw;
  }
}

@media (max-width: 500px) {
  * {
    font-size: 5vw;
  }
}

@media (max-width: 500px) {
  * {
    font-size: 13px;
  }
}

html,
body,
input,
button,
select,
textarea,
table,
h3,
h4,
h5,
h6 {
  font-family: 'futura-pt', sans-serif;
  font-weight: 100;
  color: #3e3d40;
  margin: 0;
}

::-moz-selection {
  color: #eee;
  background-color: #62b2b1;
}

::selection {
  color: #eee;
  background-color: #62b2b1;
}

a {
  color: #62b2b1;
  text-decoration: none;
}

nav {
  position: fixed;
  background-color: white;
  top: 0;
  right: 0;
  z-index: 1;
  display: block;
  list-style: none;
  width: 88px;
  margin: 0;
  padding: 0;
  text-align: right;
  width: 100%;
  border-bottom: solid #62b2b1 1px;
}

nav .headtitle {
  float: left;
  padding-left: 0.7vw;
}

nav .headtitle h1,
nav .headtitle h1 span {
  font-size: 2.2vw;
  line-height: 3vw;
  margin: 0;
}

@media (max-width: 820px) {
  nav .headtitle h1,
  nav .headtitle h1 span {
    font-size: 18px;
    line-height: 22px;
  }
}

nav ul {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 60%;
  right: 0;
}

@media (max-width: 820px) {
  nav ul {
    display: none;
  }
}

nav ul li {
  display: inline-block;
  padding: 0 1vw;
  line-height: 3vw;
}

nav ul li.current {
  background-color: #62b2b1;
}

nav ul li.current a {
  color: white;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 0;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p1 {
  color: #62b2b1;
}

.p2 {
  color: #65cfcf;
}

.p3 {
  color: #97e0e0;
}

.form {
  margin-top: 10px;
  text-align: center;
  padding: 20px;
}

@media (max-width: 820px) {
  .form {
    margin-top: 0;
  }
}

.form h1 {
  color: white;
  margin: 0;
  font-size: 32px;
}

.form h4 {
  color: white;
}

.form .field {
  position: relative;
  margin: 0 10%;
  text-align: left;
}

@media (max-width: 820px) {
  .form .field {
    margin: 0;
  }
}

.form .field input,
.form .field textarea {
  margin: 6px 0;
  padding: 8px;
  width: 100%;
  max-width: 100%;
  font-size: 19px;
  color: white;
  background: transparent;
  border: none;
  background: rgba(255, 255, 255, 0.1);
}

.form .field input:focus,
.form .field textarea:focus {
  outline: 0;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
}

.form .field input {
  height: 40px;
}

.form .input-underline {
  height: 1px;
  background-color: #ced6da;
  background-color: #f7f7f7;
}

.form .btn {
  margin-top: 10px;
}

.btn {
  display: inline-block;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  padding: 0 12px;
  height: 38px;
  line-height: 34px;
  min-width: 120px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #b1b1b1;
  border: 1px solid #b1b1b1;
  background-color: transparent;
}

.btn:disabled {
  opacity: 0.4;
}

.btn:hover,
.btn:focus {
  background-color: #b1b1b1;
  border-color: #b1b1b1;
  color: white;
  text-decoration: none;
  outline: 0;
}

.btn:hover:disabled,
.btn:focus:disabled {
  background-color: #b1b1b1;
}

.btn:active {
  background-color: #c9c9c9;
}

.noty {
  display: none !important;
}

#container {
  margin: 0 auto;
  overflow: hidden;
}

#container section {
  border-bottom: 5px solid #ccc;
}

#container section .title {
  text-align: center;
}

#container section .title span {
  font-size: 4vw;
}

@media (max-width: 820px) {
  #container section .title span {
    font-size: 7vw;
  }
}

#container section .sect-containers {
  margin: auto;
  min-width: 300px;
  max-width: 1200px;
  padding: 60px 8vw 60px 8vw;
}

@media (max-width: 820px) {
  #container section .sect-containers {
    padding: 30px 4vw 30px 4vw;
  }
}

#container section .vidwidget {
  padding: 0px 100px;
  margin-top: 40px;
  position: relative;
}

#container section .vidwidget .vid-container {
  overflow: hidden;
  height: 100%;
  left: 10%;
  right: 10%;
  position: absolute;
}

#container section .vidwidget .cmd {
  position: absolute;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  background: url("/img/icons.png") -2px -1px repeat;
  background-repeat: no-repeat;
  -webkit-background-size: 120px 120px;
  background-size: 120px 120px;
  border-radius: 30px;
  border: solid black 1px;
  cursor: pointer;
}

#container section .vidwidget .cmd.inactive {
  opacity: 0.3;
  cursor: auto;
}

#container section .vidwidget .cmd.cmd-prev {
  left: 0;
}

#container section .vidwidget .cmd.cmd-prev:hover {
  border-color: #62b2b1;
  background-position: -2px -61px;
}

#container section .vidwidget .cmd.cmd-prev.inactive {
  border-color: black;
  background-position: -2px -1px;
}

#container section .vidwidget .cmd.cmd-next {
  right: 0;
  background-position: -58px -1px;
}

#container section .vidwidget .cmd.cmd-next:hover {
  border-color: #62b2b1;
  background-position: -58px -61px;
}

#container section .vidwidget .cmd.cmd-next.inactive {
  border-color: black;
  background-position: -58px -1px;
}

#container section .vidwidget .cmd.inactive:hover {
  opacity: 0.3;
}

#container section .vidwidget .vid {
  position: absolute;
  background-color: #f1f1f1;
  -webkit-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
  left: 0;
  right: 0;
}

@media (max-width: 820px) {
  #container section .vidwidget .vid {
    left: 4%;
    right: 4%;
  }
}

#container section .vidwidget .vid.left {
  -webkit-transform: translate3d(-120%, 0, 0);
  -ms-transform: translate3d(-120%, 0, 0);
  transform: translate3d(-120%, 0, 0);
}

#container section .vidwidget .vid.right {
  -webkit-transform: translate3d(120%, 0, 0);
  -ms-transform: translate3d(120%, 0, 0);
  transform: translate3d(120%, 0, 0);
}

#container section .vidwidget .vid.unanimated {
  -webkit-transition: none !important;
  transition: none !important;
}

#container section .vidwidget .vid .txtWrapper {
  padding-top: 15px;
  border-bottom: solid #f1f1f1 15px;
  max-height: 220px;
  overflow: auto;
}

#container section .vidwidget .vid .txtWrapper .vidtitle {
  margin: 0 0 15px 0;
  padding: 0 20px;
  font-weight: 400;
}

#container section .vidwidget .vid .txtWrapper .vidtitle .rank {
  color: #62b2b1;
}

#container section .vidwidget .vid .txtWrapper .vidtxt {
  padding: 0 20px 0 20px;
}

#container section .vidwidget .vid .txtWrapper .vidtxt i {
  font-style: normal;
  font-weight: 600;
  color: #62b2b1;
}

#container section .vidwidget .vid .txtWrapper .vidtxt b {
  font-weight: 400;
}

#container section .vidwidget .vid .txtWrapper .vidtxt a {
  color: black;
  font-style: italic;
  position: relative;
}

#container section .vidwidget .vid .txtWrapper .vidtxt a:after {
  content: "";
  position: absolute;
  top: 20px;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #b1b1b1;
  text-align: center;
}

#container section .sectlegend {
  text-align: center;
  font-style: italic;
  color: #5f5f5f;
}

#container section .maintitle {
  margin: 0;
}

#container section.bio {
  padding: 110px 40px 70px 40px;
}

@media (max-width: 820px) {
  #container section.bio {
    padding: 60px 10px 20px 10px;
  }
}

#container section.bio .maintitle {
  text-align: center;
}

#container section.bio .maintitle span {
  font-size: 6.2vw;
  margin: 0;
}

@media (max-width: 820px) {
  #container section.bio .maintitle span {
    font-size: 8vw;
  }
}

#container section.bio .biotxt {
  text-align: center;
}

#container section#section-1 .vidwidget {
  height: 660px;
}

@media (max-width: 820px) {
  #container section#section-1 .vidwidget {
    height: 90vw;
  }
}

@media (max-width: 500px) {
  #container section#section-1 .vidwidget {
    height: 480px;
  }
}

#container section#section-2 .vidwidget {
  height: 660px;
}

@media (max-width: 820px) {
  #container section#section-2 .vidwidget {
    height: 90vw;
  }
}

@media (max-width: 500px) {
  #container section#section-2 .vidwidget {
    height: 480px;
  }
}

#container section#section-3 .vidwidget {
  height: 660px;
}

@media (max-width: 820px) {
  #container section#section-3 .vidwidget {
    height: 70vw;
  }
}

@media (max-width: 500px) {
  #container section#section-3 .vidwidget {
    height: 320px;
  }
}

#container section#section-4 .vidwidget {
  height: 660px;
}

@media (max-width: 820px) {
  #container section#section-4 .vidwidget {
    height: 55vw;
  }
}

@media (max-width: 500px) {
  #container section#section-4 .vidwidget {
    height: 270px;
  }
}

#container section#section-5 ul {
  display: block;
  list-style: none;
  width: 100%;
  padding: 0;
  text-align: center;
}

#container section#section-5 ul li {
  display: inline-block;
}

#container section#section-5 ul li a {
  display: block;
  line-height: 180px;
  padding: 10px;
  width: 200px;
  height: 200px;
  background-color: #f1f1f1;
}

@media (max-width: 820px) {
  #container section#section-5 ul li a {
    width: 90px;
    height: 90px;
    line-height: 70px;
  }
}

#container section#section-5 ul li a:hover {
  background-color: #f7f7f7;
}

#container section#section-5 ul li img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

#container section#section-6 {
  border: none;
  background: #3e3d40;
}

#container section#section-6 .sect-containers {
  padding: 10px 0 10px 0;
}

#container section#section-6 h1 {
  margin: 20px 0;
}