<div class="section">
    <div class="container">
        <div class="logo">
            <img src="http://manumakesmovies.com/img/header.png">
        </div>
        <div class="content">
            <div>
                <p>Manu,</p>
                <p>Here is an email from <a href="mailto:<%=email%>"><%=email%></a> I recieved for you :</p>
            </div> 
            <div class="message">
                <%-message%>
            </div>
            <div>
                <p>I honestly think you ought to sit down calmly, take a stress pill, and answer this message.</p>
                <p>Hal.</p>
            </div>
        </div>
    </div>
</div>