::selection {
    color: #eee;
    background-color: #62b2b1;
}

*{
    box-sizing: border-box;    
}

.section{
    box-sizing: border-box;
    margin: 0;
    background-color: #F7F7F7;
    font-family: sans-serif;
    padding: 0;
    padding: 20px;
}

a{
    color: #62b2b1;
    text-decoration: none;
}

a:hover{
    color: #97e0e0;
    text-decoration: none;
}

.logo{
    padding-top: 30px;
    padding-bottom: 30px;
}

.logo img{
    display: block;
    margin: auto;
    width: 280px;
    height: 35px; 
}

.container{
    margin: auto;
    max-width: 800px;
    background-color: white;
}

.content{
    border-top: solid #ccc 4px;
    margin: 0 40px;
    padding: 30px 0;
}


.content p.grey{
    color: #969696;
}

.content p:first-child{
    margin-top: 0;
    padding-top: 16px;
}

.content p:last-child{
    margin-bottom: 0;
    padding-bottom: 16px;
}


.message{
    background-color: #f1f1f1;
    padding: 20px;
}

p{
    padding-left: 0;
    padding-right: 0;
}